<section class="favorite">
  <div class="container">
    <div class="favorite-title">Избранное</div>
        <div class="favorite-empty" *ngIf="!products || (products && products.length === 0)">
          Вы еще не выбрали себе любимые товары, но всегда можете это сделать!
          <button class="button" routerLink="/catalog">Перейти в каталог</button>
        </div>
    <div class="favorite-products" *ngIf="products && products.length > 0">
      <div class="favorite-help" *ngFor="let product of products; let i = index; let last = last">
        <div class="favorite-product">
          <div class="favorite-product-image"
               [ngStyle]="{ 'background-image': 'url(' + serverStaticPath + product.image + ')' }">
          </div>
          <div class="favorite-product-name">{{ product.name }}</div>
          <div class="favorite-product-price">{{ product.price }} BYN</div>
          <div class="favorite-product-actions">
            <button class="button button-transparent" routerLink="/product/{{product.url}}">Детали</button>
            <button class="button" *ngIf="!product.countInCart" (click)="addToCard(product)">В корзину</button>
            <button class="button button-transparent button-in-cart" *ngIf="product.countInCart"
                    (click)="removeFromCart(product)">
              <span>В корзине</span>
              <span>Удалить</span>
            </button>
            <count-selector [count]="product.countInCart || 1" (onCountChange)="updateCount($event, product)"></count-selector>
          </div>
          <div class="favorite-product-remove" (click)="removeFromFavorite(product.id)">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke="#A8ABA7" stroke-linecap="round"/>
              <line x1="13.9238" y1="2.62996" x2="1.90301" y2="14.6508" stroke="#A8ABA7" stroke-linecap="round"/>
            </svg>
          </div>
        </div>
        <div class="favorite-line" *ngIf="!last"></div>
      </div>

    </div>
  </div>
</section>
