@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/data-form";

.order {
  padding: 86px 0 107px 0;

  .container {
    .order-title {
      @include head-lora-36;
      margin-bottom: 30px;
    }

    .order-info {
      display: flex;
      justify-content: space-between;


      .order-details {
        width: 422px;
        display: flex;
        flex-direction: column;
        gap: 14px;

        .order-details-info {
          padding: 40px;
          border-radius: 5px;
          background-color: #E7F1E8;

          .order-details-info-title {
            font-family: 'Lora', sans-serif;
            font-weight: 400;
            font-size: 26px;
            color: $green-text-color;
            margin-bottom: 20px;
          }

          .order-details-info-count {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .order-details-info-item {
              display: flex;
              gap: 12px;
              align-items: center;
              color: $grey-text-color;

              .order-details-info-item-text {
              }

              .order-details-info-item-data {
                font-weight: 500;
                font-size: 20px;
              }

              &.item-total {
                font-weight: 600;

                .order-details-info-item-data {
                  font-weight: 600;
                }
              }
            }
          }

        }

        .order-details-actions .button {
          width: 100%;
        }
      }
    }
  }
}

.order-popup {
  padding: 100px 70px 219px 70px;
  position: relative;
  text-align: center;
  color: $green-text-color;
  background-image: url("../../../../assets/images/page/popup-img.png");
  background-position: bottom center;
  background-repeat: no-repeat;

  .order-popup-close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
  }

  .order-popup-title {
    @include head-lora-32;
    margin-bottom: 40px;
  }

  .order-popup-content p {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
