@import "variables";

.auth-form {
  margin: 50px 0 110px 0;

  .auth-title {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: $green-text-color;
    margin-bottom: 35px;
  }

  .auth-inputs {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .auth-input {
      input {
        width: 422px;
      }
    }

    .auth-input::placeholder {
      color: #A8ABA7;
    }

    .auth-checkbox {
      max-width: 422px;
      display: flex;
      gap: 10px;
      align-items: baseline;

      label {
        font-size: 16px;
        line-height: 130%;

        a {
          color: $green-link-color;
          text-decoration: none;
        }
      }
    }
  }

  .auth-button {
    margin-top: 30px;

    button.button {
      width: 422px;
    }
  }

  .auth-link {
    margin-top: 8px;
    font-size: 16px;
    color: $grey-text-color;
    display: flex;
    gap: 5px;

    a {
      text-decoration: none;
      color: $green-link-color;
    }
  }
}
